<title>{{title}}</title>
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Cart Page </li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-main-area pt-115 pb-120">
    
    <div class="container" *ngIf="items==null">
        <h2  style="font-family: 'Montserrat', sans-serif; text-align: center;">Giỏ hàng trống. <a routerLink="/product/all" style="color: red;">Tiếp tục mua hàng</a></h2>
    </div>
    <div class="container" *ngIf="items">
        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items">
                                    <td class="product-thumbnail">
                                        <a href="#"><img width="100px" src="assets/images/product/{{item.productImage}}" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#">{{item.productName}}</a></td>
                                    <td class="product-price-cart"><span class="amount">{{item.productPrice | currency: "VND"}}</span></td>
                                    <td class="product-quantity pro-details-quality">
                                        <div class="cart-plus-minus">
                                            <input #inp min="1" max="{{item.productQuantity - item.quantity}}" (change)="addQty(item,inp.value)" [value]="item.quantity" class="cart-plus-minus-box" type="text" name="qtybutton" >
                                        </div>
                                    </td>
                                    <td class="product-subtotal">{{item.money | currency: "VND"}}</td>
                                    <td class="product-remove">
                                        <a (click)="clearItemCart(item.productId)"><i class="icon_close"></i></a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a routerLink="/product">Tiếp tục mua hàng</a>
                                </div>
                                <div class="cart-clear">
                                    <a (click)="clearCart()">Xóa tất cả</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-lg-4 col-md-12" style="float: right;">
                    <div class="grand-totall">
                        <div class="title-wrap">
                            <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                        </div>
                        <h5>Số lượng <span>{{totalQty}}</span></h5>
                        <h5>Tổng tiền <span>{{totalMoney|currency:"VND"}}</span></h5>
                        
                        <h4 class="grand-totall-title">Tổng thanh toán <span>{{totalMoney|currency:"VND"}}</span></h4>
                        <a routerLink="/customer/checkout">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>