<div class="blog-area pt-115">
    <div class="container">
        <div class="section-title-2 text-center mb-45">
            <h2><span>Press</span> & Lookbook</h2>
            <p>Explore the world’s fashon around you, up to date fashion trending and more</p>
        </div>
        <div class="border-bottom-2 blog-area-pb">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrap mb-30">
                        <div class="blog-img mb-25">
                            <a href="blog-details.html"><img src="assets/images/blog/blog-1.jpg" alt="blog-img"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#">News </a></li>
                                    <li>May 25, 2020</li>
                                </ul>
                            </div>
                            <h3><a href="blog-details.html">Five things you only know if you’re at Chanel's Hamburg Show</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrap mb-30">
                        <div class="blog-img mb-25">
                            <a href="blog-details.html"><img src="assets/images/blog/blog-2.jpg" alt="blog-img"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#">Inspiration </a></li>
                                    <li>May 25, 2020</li>
                                </ul>
                            </div>
                            <h3><a href="blog-details.html">Basic colord mixed - trendind 2020</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrap mb-30">
                        <div class="blog-img mb-25">
                            <a href="blog-details.html"><img src="assets/images/blog/blog-3.jpg" alt="blog-img"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#">Lookbook </a></li>
                                    <li>May 25, 2020</li>
                                </ul>
                            </div>
                            <h3><a href="blog-details.html">Calvin Klein Shoes Collection 2020, Activites Summer</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>