<div class="slider-area">
    <div class="container">
        <div class="hero-slider-active-1 nav-style-2 dot-style-2 dot-style-2-position-1 dot-style-2-active-black">
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg"
                style="background-image:url(assets/images/slider/banner.jpg);">
            </div>
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg"
                style="background-image:url(assets/images/slider/banner1.jpg);">
            </div>
        </div>
    </div>
</div>