
<div class="slider-area">
    <div class="container">
        <div class="hero-slider-active-1 nav-style-2 dot-style-2 dot-style-2-position-1 dot-style-2-active-black">
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg" style="background-image:url(assets/images/slider/hm-2-slider-1.jpg);">
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-2 slider-animated-1">
                            <h1 class="animated"><span>Basic</span> Color <br>Teen Collection</h1>
                            <p class="animated">Lorem ipsum dolor sit amet, consectetur adipis elit. Nunc imperdiet, nulla.</p>
                            <div class="btn-style-2">
                                <a class="animated" href="product-details.html">explore now <i class="icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg" style="background-image:url(assets/images/slider/hm-2-slider-2.jpg);">
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-2 slider-animated-1">
                            <h1 class="animated"><span>Basic</span> Color <br>Teen Collection</h1>
                            <p class="animated">Lorem ipsum dolor sit amet, consectetur adipis elit. Nunc imperdiet, nulla.</p>
                            <div class="btn-style-2">
                                <a class="animated" href="product-details.html">explore now <i class="icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>